* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial !important;   
}

html,body {
    height: 100%;
    width: 100%;
    background-color: #FAFAFC;
}

body {
    line-height: 1.5;
    height: 100vh;
}

nav {
    padding: 50px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
    background: transparent;
}

.logo {
    color: black;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.menu-icon {
    display: none;
}

#menuList {
    background-color: #FAFAFC;
}

.menu-icon img{
    width: 55px;
    height: 55px;
}

@media (max-width:768px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        gap: 0;
        overflow: hidden;
    }
    nav ul li {
        padding: 20px;
    }
    .menu-icon {
        display: block;
    }
    #menuList {
        transition: all 0.5s;
    }
    
}

@media (min-width: 768px) {
    main.split-page {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 50px;
    }

    .sec1 {
        flex: 1;
        text-align: center;
        margin-left: 1rem;
    }

    .sec2 {
        flex: 1.75;
        text-align: left;
        margin-left: 2rem;
    }

    .sec2 h1 {
        margin-left: 0;
    }

    .sec2 p {
        margin-left: 0;
        margin-right: 5rem;
    }

    .subsec {
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }

    .sub1 ul {
        margin-left: 1rem;
    }

    /* experiences */

    .experiences {
        margin-left: 17rem !important;
        margin-right: 17rem !important;
    }

    .line1 img {
        height: 265px !important;
        width: 2px !important;
    }

    .line2 img {
        height: 215px !important;
        width: 2px !important;
    }

    .line3 img {
        height: 235px !important;
        width: 2px !important;
    }

}


/* sec1 */

.sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilepic {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    object-fit: cover;
}

main div p.name {
    font-size: 2em;
    font-weight: bold;
}

main div p {
    font-size: 1.2em;
}

.iconlinks {
    width: 2.75em;
    height:2.75em;
}

/* sec2 */

.sec2 h1,
.sec2 p {
    margin-left: 5rem;
    margin-right: 5rem
}

.sec2 p {
    font-size: 1em;
}

.subsec {
    display: flex;
    flex-direction: row;
}

.subsec .descipTitle {
    font-size: 1em;
    font-weight: bold;
}

.sub1 {
    flex: 1;
}

.sub2 {
    flex: 1;
}

.sub1 ul{
    margin-left: 6rem;
    font-size: 1em;
}

.sub2 p{
    margin-left: 1rem;
    font-size: 1em;
}

.sec2 a {
    color: black;
}

a:hover {
    color: #d7d3bf;
}


/* experiences */

.experiences h2 {
    align-self: flex-start;
    width: 100%;
    text-align: left;
}

.experiences {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.experience {
    display: flex;
    align-items: center;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.experienceContent ul {
    margin-left: 2rem;
}

.experienceicon img {
    width: 2.2em;
    height:2.2em;
}

.line1,
.line2,
.line3 {
    padding-left: 16px;
}

.line1 img {
    height: 525px;
    width: 2px;
}

.line2 img {
    height: 435px;
    width: 2px;
}

.line3 img {
    height: 375px;
    width: 2px;
}

/* projects */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
}

.projectpagetitle {
    margin-left: 3.7rem;
}

.project {
    display: flex;
    flex-direction: column;
    max-width: 385px;
    max-height: 400px;
}

.projectpic img {
    max-width: 385px;
    max-height: 216px;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 0.9rem;
}

.project p {
    font-size: 1rem;
    margin-top: 0.9rem;
}

.projectlinks {
    display: flex;
    flex-direction: row;
    gap: 9px;
    margin-top: 5px;
}

.projectlink img {
    width: 35px;
    height: 35px;
}

.projectlink p {
    font-size: 0.9rem;
    margin-top: 7px;
    color: black;
}

.projectlink a {
    color: black;
}

.project a {
    color: black;
}

a:hover {
    color: #d7d3bf;
}

.researchVid {
    width: 100%;
    max-width: 400px;
    height: auto;
}