* {
    margin: 0;
    padding: 0;
    /* background-color: lightgoldenrodyellow; */
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;

}

header .logo a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color:black;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

header nav ul li a:hover {
    color: #e0e0e0;
}


/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f9f9f9;
    /* color: #333; */
}


/* Main Content Styling */
main.split-page {
    display: flex;
    align-items: center;
    /* margin-top: 40px; */
}

main div p.name {
    font-size: 1.5em;
    font-weight: bold;
}

/* Left Section */
.sec1 {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateX(50px);
}

.sec1 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.sec1 p {
    margin-top: 10px;
    text-align: center;
    font-size: 1.1em;
}


/* Right Section */
.sec2 {
    flex: 1;
    padding: 70px;
    transform: translateX(-60px);
}

.sec2 h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.sec2 .subsec {
    display: flex;
}

.sub {
    flex:1;
}

.descipTitle {
    font-size: 1.1em;
    font-weight: bold;
}

.subsec ul {
    margin-left: 20px;
}


/* .sec2 p {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.6;
} */